<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD
3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.url">DB-URL</property>
	<property name="connection.username">NOMBRE-USUARIO</property>
	<property name="connection.password">CONTRASEÑA</property>
	<property name="connection.pool_size">1</property>
	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="show_sql">false</property>
	<!-- MAPEO ENTIDADES -->
	<mapping resource="mapeos/Stock.hbm.xml" />
	<mapping resource="mapeos/Lote.hbm.xml" />
	<mapping resource="mapeos/Producto.hbm.xml" />
</session-factory>
</hibernate-configuration>